# General
*.log
*.pyc
*.token
.DS_Store
.env

# Python
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## C extensions
*.so

## Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

## Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

## Spyder project settings
.spyderproject
.spyproject

## PyCharm
.idea/
*.iws
*.iml
*.ipr

## Jupyter Notebook
.ipynb_checkpoints

# Node.js
node_modules/
npm-debug.log

# Configurations
config/private/

# OAuth
token.json

# Test reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Database
*.db
*.sql
*.sqlite

# Others
instance/
.webassets-cache
