body {
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Truetype', sans-serif;
  color: #FFFFFF;
}

.big-button {
  border: none;
  padding: 20px 40px;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #39FF14;
  background-color: #000;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.3s, text-shadow 0.3s;
  outline: none;
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 15px #39FF14, 0 0 20px #39FF14;
}

.big-button:hover {
  color: #FF0000;
  text-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000, 0 0 15px #FF0000, 0 0 20px #FF0000;
  transition: color 0.3s, text-shadow 0.3s;
}
